.settlement {
    width: 25px;
	height: 32px;
}

.settlement div {
	border: 0px;
	width: 25px;
	height: 32px;
}

.settlement div:hover {
	/*background-color: #0000ff;*/
	cursor: pointer;
	background-image:url('images/BlueSettlement.png');
	background-repeat:no-repeat;

}

.settlement div img {
	width: 25px;
	height: 30px;
}

.hroad {
	height: 32px;
}

.vroad {

}

.hroad div {
	width: 100px;
	height: 32px;
}

.vroad div {
	height: 100px;
}

.hroad div:hover, .vroad div:hover {
	background-color: #00ff00;
	cursor: pointer;
}

.hroad div img {
	width: 100px;
	height: 30px;
}